In [4]:
import sys
print(sys.version)

3.6.7 (v3.6.7:6ec5cf24b7, Oct 20 2018, 13:35:33) [MSC v.1900 64 bit (AMD64)]

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import Imputer
from missingpy import KNNImputer

# Data Imputation using Mean and Mode

In [6]:
train=pd.read_csv("Train_UWu5bXk.csv")
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [7]:
train.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [8]:
mean_item_weight=round(train["Item_Weight"].mean(),1)
mean_item_weight

12.9

In [9]:
mode_outlet_size=train["Outlet_Size"].mode()
mode_outlet_size[0]

'Medium'

In [10]:
mode_estb_year=train["Outlet_Establishment_Year"].mode()
mode_estb_year[0]

1985

In [11]:
train["Item_Weight"]=train["Item_Weight"].fillna(mean_item_weight)

train["Outlet_Size"]=train["Outlet_Size"].fillna("mode_outlet_size[0]")

train["Outlet_Establishment_Year"]=train["Outlet_Establishment_Year"].fillna(mode_estb_year)

In [12]:
train.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

# KNN DataImputation

In [13]:
# KNN Imputation using Boston data(numerical data)
data=pd.read_csv("boston_csv.csv")
data.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,NaN,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,NaN,NaN,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,NaN,222.0,18.7,396.90,5.33,36.2

In [14]:
data.isnull().sum()

crim        0
zn          0
indus       0
chas        0
nox         0
rm         17
age         0
dis         0
rad        38
tax        34
ptratio     0
b           0
lstat       0
medv        0
dtype: int64

In [15]:
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning)

In [16]:
knn_impu=KNNImputer(n_neighbors=3,weights="uniform")
y=knn_impu.fit_transform(data)

In [17]:
y = pd.DataFrame(y)

In [18]:
y.columns=["CRIM","ZN","INDUS","CHAS","INDUS","RM","AGE","DIS","RAD","TAX","PT","B","LSTAT","MV"]

In [19]:
y.head()

,CRIM,ZN,INDUS,CHAS,INDUS,RM,AGE,DIS,RAD,TAX,PT,B,LSTAT,MV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.000000,296.000000,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.176,78.9,4.9671,2.000000,242.000000,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.333333,246.333333,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.000000,222.000000,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.666667,222.000000,18.7,396.90,5.33,36.2