## Importing packages

In [1]:
import numpy as np
import pandas as pd
import sklearn
import seaborn as sns
import matplotlib.pyplot as plt

## Loading the file

In [2]:
data=pd.read_csv("ant-1.4.csv")
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 24 columns):
name       178 non-null object
version    178 non-null float64
name.1     178 non-null object
wmc        178 non-null int64
dit        178 non-null int64
noc        178 non-null int64
cbo        178 non-null int64
rfc        178 non-null int64
lcom       178 non-null int64
ca         178 non-null int64
ce         178 non-null int64
npm        178 non-null int64
lcom3      178 non-null float64
loc        178 non-null int64
dam        178 non-null float64
moa        178 non-null int64
mfa        178 non-null float64
cam        178 non-null float64
ic         178 non-null int64
cbm        178 non-null int64
amc        178 non-null float64
max_cc     178 non-null int64
avg_cc     178 non-null float64
bug        178 non-null int64
dtypes: float64(7), int64(15), object(2)
memory usage: 33.5+ KB

,version,wmc,dit,noc,cbo,rfc,lcom,ca,ce,npm,...,dam,moa,mfa,cam,ic,cbm,amc,max_cc,avg_cc,bug
count,1.780000e+02,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,...,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,1.400000e+00,10.494382,2.269663,0.584270,10.752809,33.837079,74.101124,5.691011,5.449438,8.196629,...,0.701811,0.679775,0.467399,0.488047,0.662921,1.056180,26.664679,4.331461,1.377567,0.264045
std,4.453419e-16,10.988565,1.304179,3.337203,16.645035,30.663683,275.640663,16.494479,4.911675,9.166421,...,0.435954,1.371105,0.415967,0.261298,1.024489,1.965002,24.840011,5.083175,0.993203,0.545085
min,1.400000e+00,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.400000e+00,4.000000,1.000000,0.000000,3.250000,12.000000,0.000000,0.000000,2.000000,3.000000,...,0.000000,0.000000,0.000000,0.291098,0.000000,0.000000,11.700000,1.000000,0.800000,0.000000
50%,1.400000e+00,7.000000,2.000000,0.000000,7.000000,24.000000,5.000000,1.000000,4.000000,5.000000,...,1.000000,0.000000,0.604510,0.444444,0.000000,0.000000,20.666667,2.500000,1.019250,0.000000
75%,1.400000e+00,14.000000,3.000000,0.000000,11.000000,48.000000,41.000000,4.000000,8.000000,10.000000,...,1.000000,1.000000,0.880952,0.666667,1.000000,1.000000,33.676740,5.000000,1.685900,0.000000
max,1.400000e+00,77.000000,6.000000,40.000000,136.000000,196.000000,2446.000000,135.000000,28.000000,68.000000,...,1.000000,9.000000,1.000000,1.000000,4.000000,11.000000,208.166667,35.000000,6.087000,3.000000

## Data clean-up: Conversion, pruning, split

In [3]:
data["bug"]=data["bug"]>0 #if bug is greater than zero then buggy File
data['bug'].head(10)

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9     True
Name: bug, dtype: bool

## Checking for nulls

In [4]:
data_null=data[data.isnull().any(axis=1)] #checking for any null value
data_null

Empty DataFrame
Columns: [name, version, name.1, wmc, dit, noc, cbo, rfc, lcom, ca, ce, npm, lcom3, loc, dam, moa, mfa, cam, ic, cbm, amc, max_cc, avg_cc, bug]
Index: []

[0 rows x 24 columns]

### Pruning the columns

In [5]:
data_corr=data
x=data.drop(["bug","name","version","name.1"],1) #Dropping Input variables not relevant
y=data_corr["bug"]  #Output variable

## Importing packages for machine learning

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

### Split into training and testing data

In [7]:
# Train test split: 90% train, 10% test data
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=1000) 
x_train.shape

(160, 20)

In [8]:
x_test.shape

(18, 20)

In [9]:
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

## Logistic Regression

In [10]:
log=LogisticRegression(random_state=0)
log.fit(x_train,y_train)
y_pred=pd.DataFrame(log.predict(x_test))

In [11]:
#Comparing Actual vs. Predicted outcomes
pd.DataFrame({'Actual': [y for y in y_test.values], 
              'Predicted': [y for y in y_pred.values]})

    Actual Predicted
0    False   [False]
1    False   [False]
2     True   [False]
3    False   [False]
4    False   [False]
5    False   [False]
6    False   [False]
7    False   [False]
8    False   [False]
9    False   [False]
10    True   [False]
11   False   [False]
12   False   [False]
13   False   [False]
14   False   [False]
15    True    [True]
16    True    [True]
17   False   [False]

In [12]:
print(accuracy_score(y_test,y_pred))
confusion_matrix(y_test,y_pred)

0.8888888888888888

array([[14,  0],
       [ 2,  2]], dtype=int64)

In [13]:
#5 fold cross validation
from sklearn.model_selection import cross_val_score

scores = cross_val_score(log, x_train,y_train, cv=10) #5 fold cross validation
scores

array([0.82352941, 0.70588235, 0.70588235, 0.64705882, 0.5625    ,
       0.625     , 0.8       , 0.8       , 0.73333333, 0.8       ])

In [14]:
#Leave one out cross validation
from sklearn import model_selection
loocv = model_selection.LeaveOneOut()
results = model_selection.cross_val_score(log, x_train,y_train, cv=loocv)

results.shape

(160,)