In [22]:
%reload_ext autoreload
%autoreload 2
from classification_details import *

In [23]:
load_input_data_from_file("./binary.csv")

# admit' (Target coloumn) have values as 0 and 1

dataset size: [ 400 rows, 4 columns]

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [24]:
strip_target_column()

In [25]:
do_train_test_split(test_size=20/100)

Training dataset size:  640
Testing dataset size:  160

In [26]:
train_model()

In [27]:
test_model()

In [28]:
# Confusion Matrix
compute_confusion_matrix()

[[100   6]
 [ 43  11]]

In [29]:
# Calculating metrics using matrix
compute_classification_metrics()

Recall/Sensitivity = 69.93%
Specificity = 64.71%
Accuracy = 69.38%
Precision = 94.34%
f1 score = 80.32%