## Binary classification

In [51]:
%reload_ext autoreload
%autoreload 2
from classification_details import *

### Data contains 
   #####  GRE score, GPA and Rank as input parameters and
   #####  whether a student will get admission or not (output column)

In [52]:
# 'admit' (Target coloumn) have values as 0 and 1 
load_input_data_from_file("./binary.csv")

# prints total data-size and top 5-rows (by default)

dataset size: [ 400 rows, 4 columns]

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [53]:
strip_target_column()

dataset size: [ 400 rows, 3 columns]

     gre   gpa  rank
0  380.0  3.61   3.0
1  660.0  3.67   3.0
2  800.0  4.00   1.0
3  640.0  3.19   4.0
4  520.0  2.93   4.0

In [54]:
do_train_test_split(test_size=20/100)

Training dataset size:  320
Testing dataset size:  80

In [45]:
train_model()

In [46]:
test_model()

### Confusion Matrix

In [49]:
compute_confusion_matrix()
# [TP   FP]
# [FN   TN]

[[48  6]
 [25  1]]

In [50]:
# Calculating metrics using matrix
compute_classification_metrics()

Recall/Sensitivity = 65.75%
Specificity = 14.29%
Accuracy = 61.25%
Precision = 88.89%
f1 score = 75.59%