In [16]:
%reload_ext autoreload
%autoreload 2
from regression_details import *

In [17]:
#Import Data from Input
load_input_data_from_file("mpg.csv")

dataset size: [ 398 rows, 9 columns]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [18]:
do_train_test_split(train_size=90/100)

Training dataset size:  358
Testing dataset size:  40

In [19]:
# Linear regression
train_model ()

In [20]:
test_model()

compute_regression_metrics()

Mean squared error: 19.08
R Square score: 0.63